.centerheader{
    width: calc(100% - 18%);
    margin: auto;
}

:root {
    --bbc-font: ReithSans, Arial, Helvetica, freesans, sans-serif;
    --bbc-font-legacy: Arial, Helvetica, freesans, sans-serif;
}

.footerline{
    margin-top:30px;
}

.svgcenter{
    width: 100%;
}

.title-header , .centerarticle , .centerulheader , .centerfooter , .centercontainerfooter{
    width: 100%;
    width: calc(100% - 18%);
    margin: auto;
}

.bbcarticle{
    margin-right: 15px;
}