.image-container {
    
    display: flex;
    flex-wrap: wrap; /*permet aux élement de passer à la ligne */
    justify-content: space-between;

 
  
}
/* .image-container  > div {
    width: calc(33.33% - 10px); 
    margin-bottom: 20px;
    /* flex-basis: calc(33.33% - 20px); 
    margin: 10px;*/
    /* text-align: center;  */

.image-item {
    width: calc(33.33% - 20px); /* 1/3 de la largeur avec un espace entre */
    margin-bottom: 20px; /* Espace sous chaque image */
    text-align: center; /* Alignement centré du texte */
    margin-left: 10px; /* Marge à gauche */
    margin-right: 10px; /* Marge à droite */
    height: auto; 
    }

.image-item img {
    width: 100%;
    /* height: 30%; */
    
}
  

.image-caption {
margin-top: 5px; /* Ajoutez un espace entre l'image et le texte */
 text-align: center;  
 width: 100%; 
 font-size: 14px; /* Taille de la police */
 line-height: 1.2;
 /* height: auto; */
 overflow-wrap: break-word;
}

.principal {
    display : flex;
}