
.analysis {
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    
    /* background-color: pink; */
}

.analysistrois1 , .analysistrois2{
    display: flex;
    justify-content: space-between;
}

.analysissmall{
    width: 800px;
}

.analysiscard{
    width: 229px;
}

.analysisarticleprincipal{
    margin-right: 15px;
}

.analysistitle{
    font-size: 25px;
}