.sport{
    margin-top: 30px;
}

.articlesportdeux{
    display: flex;
    margin-right: 15px;
}

.titlesport{
    font-size: 25px;
}

.principalsport{
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
}

.sportarticletrois1 , .sportarticletrois2{
    justify-content: space-between;
    display: flex;
}

.sportcard{
    width: 229px;
}

.sportarticletrois2{
    margin-top: 15px;
}

.smallarticlesport{
    width: 800px;
}