.articlemargin{
    margin-top: 50px;
}


.mostwatched{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.watched{
    width: 200px;
    display: flex;
}

.number{
    padding-right: 15px;
}

